<ion-view view-title="Register">
  <ion-content ngController="RegisterCtrl">
    <form name="registerForm" novalidate ng-submit="register(user)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="user.email" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password" required>
        </label>
      </div>
      <div class="padding">
        <p ng-show="registerForm.user.username.$error.required">* Username is required</p>
        <p ng-show="registerForm.user.email.$error.required">* Email is required</p>
        <p ng-show="registerForm.user.password.$error.required">* Password is required</p>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-disabled="registerForm.$invalid" type="submit">
          Register
        </button>
        <p class="text-center">
          <a href="#/forgot-password">Forgot password</a>
          <a href="#/sign-in">Sign In</a>
        </p>
      </div>
    </form>
  </ion-content>
</ion-view>
